::selection {
    background: #ffe500; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffe500; /* Gecko Browsers */
}
.dark-theme ::selection {
    background: #ffe500; /* WebKit/Blink Browsers */
    color: #222;
}
.dark-theme ::-moz-selection {
    background: #ffe500; /* Gecko Browsers */
    color: #222;
}
.post-content a::before{
    content: "";
    background-color: #ffe500;
    width: 100%;
    height: .2rem;
    position: absolute;
    left: 0;
    top: .95rem;
    z-index: -1;
}
.post-content a{
    position: relative;
    text-decoration: none;
}
.logo__cursor{
    background: #ffe500;
}
